@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241, 126, 166);
    background-image: url(../img/Matricula.jpg);
    background-image: cover;
    background-size: cover;
    background-repeat: no-repeat;}

main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(224, 126, 126, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    height: 105%;
    justify-content: center;
    align-items: center;
    background-color: #f5b0a784;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    height: 105%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1{
    font-size: 30px;
}
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgb(241, 126, 166);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;  
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.turma-title h6 {
    font-size: 16px;
    font-weight: 600;
    color: #000000c0;
    text-align: center;
    margin-top: 2px;
}
.input-box label,
.nivel-title h6 {

    font-size: 16px;
    font-weight: 600;
    color: #000000c0;
    text-align: center;
}

.input-box input::placeholder {
    color: #000000be;
}

.turma-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.turma-input {
    display: flex;
    align-items: center;
}

.turma-input input {
    margin-right: 0.35rem;
}

.turma-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.nivel-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.nivel-input {
    display: flex;
    align-items: center;
}

.nivel-input input {
    margin-right: 0.35rem;
}

.nivel-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}
.obs label{
    font-size: 12px;
    color: #000000c0;
    text-align: center;
    margin-top: 4px;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color:rgb(241, 126, 166);
    padding: 0.62rem;
    
    cursor: pointer;
    height: 60px;
    cursor: pointer;
    color: white;
    text-decoration-color: rgb(84, 67, 73);
    text-transform: uppercase;
    background-color: rgb(119, 108, 108);
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
    
}
.form button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color:rgb(241, 126, 166);
    padding: 0.62rem;
    
    cursor: pointer;
    height: 60px;
    cursor: pointer;
    color: white;
    text-decoration-color: rgb(84, 67, 73);
    text-transform: uppercase;
    background-color: rgb(119, 108, 108);
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
    
}

.continue-button button:hover {
    background-color: rgb(241, 126, 166);
    color: white;
    border: none;
}
.form button:hover {
    background-color: rgb(241, 126, 166);
    color: white;
    border: none;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: white;}
    .form button a {
        text-decoration: none;
        font-size: 0.93rem;
        font-weight: 500;
        color: white;}

.continue-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.continue-button button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position:absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.continue-button button:hover:before {
    width: 100%;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .turma-inputs {
        margin-top: 2rem;
    }
    .turma-group {
        flex-direction: column;
    }
    .title h6 {
        margin: 0;
    }
    .turma-input {
        margin-top: 0.5rem;
    } 

    @media screen and (max-width: 1064px) {
        .container {
            width: 90%;
            height: auto;
        }
        .input-group {
            flex-direction: column;
            z-index: 5;
            padding-right: 5rem;
            max-height: 10rem;
            overflow-y: scroll;
            flex-wrap: nowrap;
        }
        .nivel-inputs {
            margin-top: 2rem;
        }
        .nivel-group {
            flex-direction: column;
        }
        .title h7 {
            margin: 0;
        }
        .nivel-input {
            margin-top: 0.5rem;
        } }}